.form-container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  
  }
  
  .form-container.show {
    opacity: 1;
    transform: none;
  }
  